*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600&family=Edu+QLD+Beginner&display=swap');
:root{
    --fonte:'Cormorant SC', serif
}
html, body{
    font-family: 'Edu QLD Beginner', cursive;
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    /*esse comando deixa as letra maiusculas de forma equilipradas*/
}
header > p {
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    /*esse aumenta o espaço das linhas*/
    padding-left: 30px;
}
section > p{
    padding-bottom: 2em;
}
.normal{
    background-color: white;
    color: black;
}
.img{
    background-color: rgb(124, 123, 123);
    color: white;
    box-shadow:inset 6px 6px 13px 0px rgba(0, 0, 0, 0.612);
    background-size: cover;
    background-attachment: fixed;
}
.img > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.459);
    text-shadow: 2px 2px 0px black;
}
#img1{
    background-image: url(../imagens/background001.jpg);
    background-position: right, center;
    
}
#img2{
    background-image: url(../imagens/background002.jpg);
    background-position: right, center;

}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}